extends ./_includes/layouts/base.pug

block prepend head
	- const script = "app.js"

block content
	main.app.container
		div.app__inner.container.container_readable
			// Subdials
			div.subdials
				div.one-to-ten
					svg(class="one-to-ten__icon" viewbox="0 0 72 72")
						use(xlink:href="#icon-small-subdial")
					div.subdials__pie
				div.total
					svg(class="total__icon" viewbox="0 0 132 132")
						use(xlink:href="#icon-large-subdial")
					div.subdials__pie
				div.one-to-sixty
					svg(class="one-to-sixty__icon" viewbox="0 0 72 72")
						use(xlink:href="#icon-small-subdial")
					div.subdials__pie

			// Session toggle
			div.session-toggle
				button(class="session-toggle__btn" type="button")
					span.session-toggle__text Work
					span.session-toggle__display
					span.session-toggle__text Break

			// Timer
			div.timer
				// Display
				div.timer-display
					p
						span.timer-display__minutes
						span :
						span.timer-display__seconds

				// Input
				div.timer-input.hidden
					input(
						class="timer-input__minutes"
						maxlength="2"
						placeholder="MM"
						size="2"
						type="tel"
					)
					p :
						span.timer-input__seconds 00

				// Reset
				button(class="timer-reset hidden", type="button")
					svg(class="timer-reset__icon" viewbox="0 0 32 32")
						use(xlink:href="#icon-reset")

			// Controls
			div.controls
				button(class="controls__play" type="button")
					svg(class="controls__icon-play" viewbox="0 0 32 32")
						use(xlink:href="#icon-play")

				button(class="controls__pause hidden" type="button")
					svg(class="controls__icon-pause" viewbox="0 0 32 32")
						use(xlink:href="#icon-pause")
				
				button(class="controls__stop hidden" type="button")
					svg(class="controls__icon-stop" viewbox="0 0 32 32")
						use(xlink:href="#icon-stop")

			//- Sessions
			div.sessions
				each val in ["one", "two", "three", "four"]
					div(class="sessions__marker " + "sessions__" + val)

			//- Menu TODO
			div.menu

//- Sub-dials: 1-10 seconds, total time, 1-60 seconds
//- Digital timer and time input
//- Play, pause, stop
//- Session tracker
//- Sound, stats, settings
