extends ./_includes/layouts/base.pug

block prepend head
	- const script = "app.js"

block content
	main.app.container
		div.app-features.container.container_readable
			// Subdials
			div.subdials
				// One to ten
				div.one-to-ten
					svg(class="one-to-ten__icon" viewbox="0 0 72 72")
						use(xlink:href="#icon-small-subdial")
					div.subdials__pie

				// Total
				div.total
					svg(class="total__icon" viewbox="0 0 132 132")
						use(xlink:href="#icon-large-subdial")
					div.subdials__pie

				// One to sixty
				div.one-to-sixty
					svg(class="one-to-sixty__icon" viewbox="0 0 72 72")
						use(xlink:href="#icon-small-subdial")
					div.subdials__pie

			// Session toggle
			div.session-toggle
				button(class="session-toggle__btn" type="button")
					span.session-toggle__text Work
					span.session-toggle__display
					span.session-toggle__text Break

			// Timer
			div.timer
				// Display
				div.timer-display
					p
						span.timer-display__minutes
						span :
						span.timer-display__seconds

				// Input
				div.timer-input.hidden
					input(
						class="timer-input__minutes"
						maxlength="2"
						name="minutes"
						placeholder="MM"
						size="2"
						type="tel"
					)
					p :
						span.timer-input__seconds 00

				// Reset
				button(class="timer-reset hidden", type="button")
					svg(class="timer-reset__icon" viewbox="0 0 32 32")
						use(xlink:href="#icon-reset")

			// Controls
			div.controls
				// Play
				button(class="controls__play" type="button")
					svg(class="controls__icon-play" viewbox="0 0 32 32")
						use(xlink:href="#icon-play")

				// Pause
				button(class="controls__pause hidden" type="button")
					svg(class="controls__icon-pause" viewbox="0 0 32 32")
						use(xlink:href="#icon-pause")
				
				// Stop
				button(class="controls__stop hidden" type="button")
					svg(class="controls__icon-stop" viewbox="0 0 32 32")
						use(xlink:href="#icon-stop")

			// Sessions
			div.sessions
				each val in ["one", "two", "three", "four"]
					div(class="sessions__marker " + "sessions__" + val)

		// Menu
		div.app-menu
			// Stats drawer
			div.stats.hidden
				div.stats__inner.container.container_readable
					h2.stats__heading Lifetime Stats

					// Stats sheet
					div.stats__sheet
						p.stats__group
							span.stats__figure.stats__figure-sessions 0
							span.stats__desc Work sessions

						p.stats__group
							span.stats__figure.stats__figure-average 0m
							span.stats__desc Average work session

						p.stats__group
							span.stats__figure.stats__figure-total 0h 0m
							span.stats__desc Total time

					// Close
					button(class="stats__btn-close")
						svg(class="stats__icon-close" viewbox="0 0 32 32")
							use(xlink:href="#icon-close")
						p Close

			// Settings drawer
			div.settings.hidden
				div.settings__inner.container.container_readable
					h2.settings__heading Settings

					div.settings__subheading-container
						h3.settings__subheading Time
						hr.settings__hr-wave

					// Time inputs
					ul.settings__time-list
						li.settings__time-item
							label(for="work") Work
							input(
								class="settings__input settings__work-time"
								maxlength="2"
								name="work"
								placeholder="25 mins"
								size="7"
								type="tel"
							)
						li.settings__time-item
							label(for="short-break") Short break
							input(
								class="settings__input settings__short-break-time"
								maxlength="2"
								name="short-break"
								placeholder="5 mins"
								size="7"
								type="tel"
							)
						li.settings__time-item
							label(for="long-break") Long break
							input(
								class="settings__input settings__long-break-time"
								maxlength="2"
								name="long-break"
								placeholder="20 mins"
								size="7"
								type="tel"
							)

					// Save
					button(class="settings__btn-save" disabled type="button") Save

					// Close
					button(class="settings__btn-close")
						svg(class="settings__icon-close" viewbox="0 0 32 32")
							use(xlink:href="#icon-close")
						p Close

			// Menu bar
			div.menu-bar
				ul.menu-bar__list.container.container_readable
					// Sound
					li.menu-bar__item.menu-bar__item-sound
						button.menu-bar__btn.menu-bar__btn-sound
							svg(class="menu-bar__icon menu-bar__icon-sound" viewbox="0 0 32 32")
								use(xlink:href="#icon-sound")

					// Sound off
					li.menu-bar__item.menu-bar__item-sound-off.hidden
						button.menu-bar__btn.menu-bar__btn-sound-off
							svg(class="menu-bar__icon menu-bar__icon-sound-off" viewbox="0 0 32 32")
								use(xlink:href="#icon-sound-off")

					// Stats
					li.menu-bar__item
						button.menu-bar__btn.menu-bar__btn-stats
							svg(class="menu-bar__icon menu-bar__icon-stats" viewbox="0 0 32 32")
								use(xlink:href="#icon-stats")

					// Settings
					li.menu-bar__item
						button.menu-bar__btn.menu-bar__btn-settings
							svg(class="menu-bar__icon menu-bar__icon-settings" viewbox="0 0 32 32")
								use(xlink:href="#icon-settings")
